//= templates/header.html

<div class="wrapper">

    <!-- page-top -->
    <div class="page-top">
        <img src="assets/images/page-top/services.jpg" alt="">
        <div class="page-top-overlay">
            <div class="container">
                //= templates/breadcrumbs.html
                <h1>Обучение яхтингу</h1>
            </div>
        </div>
    </div><!-- page-top -->

    <div class="page-content">

        
        <!-- seo-text -->
        <div class="seo-text">
            <div class="container">
                <h2>Seo текст</h2>

                <p>
                    Seo текст is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of type and scrambled it
                    to make a type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially
                    unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more
                </p>
            </div>
        </div><!-- seo-text -->

    </div><!-- page-content -->


</div><!-- wrapper -->

//= templates/footer.html

</body>

</html>